*{
  margin: 0;
  padding: 0;
}

header{
  width: 960px;
  margin: auto;
  color: black;
  background-color: #e54e54;
  height: 190px;

}
.logo-imagine{
  display: block;
 height: 140px;
  background-color: white;
  clear: both;
  position: relative;


}
.menu-header{
  float: left;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;

  line-height: 50px;
}

.menu-header > li {
  float: left;
}

.menu-header > li > a{
  border-right: 1px solid #999;
  float: left;
  padding: 0px 10px;
  text-decoration: none;
  color: white;
}

.menu-header > li:last-child > a {
  border-right: 0;
}

.search {
  float:right;
  padding-right: 10px;
  line-height: 50px;
  color: white;
}



.fa fa-search{
  float: right;
}

.content{
  width: 960px;
  height: 200px;
  margin: auto;
  background:blue;
  text-decoration: black;
  text-align: center;
  line-height: 200px;

}
#footer{
  width: 960px;
  height: 90px;
  margin: auto;
  background:red;
  text-decoration: black;
  text-align: center;
  line-height: 90px;

}
